<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Flask Template</title>
</head>
<body>
    <header>
        <h1> Minimal Flask Template </h1>
    </header>

    <section>
        <h2>A Simple HTML5 Page</h2>
        <p>
            This is an example of a simple HTML5 webpage using some of it's basic elements.
        </p>
        </section>

    <section>
        <h2> CSS3 for Styling</h2>
        <p>
            To make this webpage visually appealing we'll use some of the basic CSS3 code in another example. CSS Makes styling of the page more easy and convinient.
        </p>
    </section>
</body>
</html>